build
assets.dat
asset.dat
doc
*.sublime-project
*.sublime-workspace
*.exe
*.dll
*.so
*.pyc
*.o
*.a
*.la
*.lo
.libs
.deps
.dirstamp
compile
aclocal.m4
autom4te.cache
ltmain.sh
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
itmain.sh
Makefile
Makefile.in
missing
example_*